<a href="https://colab.research.google.com/github/prathamgrover7/python-patterns/blob/main/python_patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Patterns

In [9]:
n = int(input())
rows = 1
while rows <= n:
  col = 1
  while col<=n:
    print("*", end = '')
    col = col + 1
  rows = rows + 1
  print()

5
*****
*****
*****
*****
*****

In [11]:
n = int(input())
row = 1
while row<=n:
  col = 1
  while col<=n:
    print(n - col + 1,end = '')
    col = col + 1
  row = row+1
  print()

5
54321
54321
54321
54321
54321

In [8]:
n = int(input())
row = 1
while row<=n:
  col = 1
  while col<=n:
    print(col + row - 1,end = '')
    col = col + 1
  row = row+1
  print()

5
12345
23456
34567
45678
56789

In [17]:
n = int(input())
rows = 1
while rows<=n:
  col = 1
  while col <= rows:
    print(rows, end = '')
    col = col + 1
    
  rows = rows + 1
  print()

5
1
22
333
4444
55555

In [7]:
n = int(input())
rows = 1
while rows<=n:
  col = 1
  while col <= rows:
    print(col, end = '')
    col = col + 1
    
  rows = rows + 1
  print()

5
1
12
123
1234
12345

In [2]:
n = int(input())
rows = 1
while rows<=n:
  col = 1
  while col <=n:
    print(chr(64+col),end = '')
    col = col + 1
  rows = rows + 1
  print()

5
ABCDE
ABCDE
ABCDE
ABCDE
ABCDE

In [6]:
n = int(input())
rows = 1
while rows<=n:
  col = 1
  while col<=n:
    print(chr(64+col+rows-1),end = '')
    col = col + 1
  rows = rows + 1
  print()

5
ABCDE
BCDEF
CDEFG
DEFGH
EFGHI